body {
    background-color: #F4F4F4;
    font-size: 16px;
}

.login {
    width: 300px;
    margin: 100px auto;
    }

    .login input {
    margin-bottom: 10px;
}

.login .form-control {
    background-color:#EAEAEA;
}

.login .btn {
    background-color: #008dde;
}

 
.topnav-right {
    float: right;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.dropdown-menu {

    --bs-dropdown-bg: #b31919; 
    background-color: #bb1818; 
}

.h1 {
    font-size: 55px;
    margin: 40px 0;
    font-weight: bold;
    color: #008dde;
}

.required::after {
    content: ' *';
    color: red;
    font-size: 20px;
  }

  .fa-eye:before {
    content: "";
}


.table.first-row > table > tr:nth-of-type(1) {
    font-size: larger;
    color: red;
  }

.main-table td {
    background-color: #FFF;
    vertical-align: middle !important;
}

.home-stats .stat {
    padding: 20px;
    font-size: 15px;
    color: #FFF;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.home-stats .stat i {
    position: absolute;
    font-size: 80px;
    top: 36px;
    left: 30px;
}

.home-stats .stat .info {
    float: right;
}

.home-stats .stat a {
    color: #FFF;
}
.home-stats .stat a:hover {
text-decoration: none;}
.home-stats .stat span {
    display: block;
    font-size: 60px;
}

.latest {
    margin-top: 30px;
}

.home-stats .st-members {
    background-color: #3498db;
}
.home-stats .st-pending {
    background-color: #e67e22;
}
.home-stats .st-items {
    background-color: #2ecc71;
}
.home-stats .st-comments {
    background-color: #9b59b6;
}
.btn-info {
    margin-left: 5px;
}

.latest-users {
    margin-top: 0;
}


.latest-users li {
    padding: 10px;
    overflow: hidden;
}

.latest-users .btn-success,
.latest-users .btn-info {
    padding: 2px 8px;
}
.latest-users .btn-info{
    margin-right: 5px;
}

.categories .cat h3 {
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    color: #6a6a6a;
}
.categories .cat .full-view p {
    margin: 10px 0;
    color: #707070;
}
.categories .panel-heading {
    color: #959595;
    font-weight: bold;
}

.categories hr {
    margin-top: 0;
    margin-bottom: 0;
}

.categories .cat .visibility {
   background-color: #b31919;
   color: #fff;
   padding: 4px 6px;
    margin-right: 10px;
    border-radius: 6px;
    font-weight: bold;
    padding: 2px 8px;

}

.categories .cat .commenting {
    background-color: #34495e;
    color: #fff;
    padding: 4px 6px;
     margin-right: 10px;
     border-radius: 6px;
     font-weight: bold;

 }
 .categories .cat .advertise {
    background-color: #d35400;
    color: #fff;
    padding: 4px 6px;
     margin-right: 10px;
     border-radius: 6px;
     font-weight: bold;

 }

 .categories .cat .hidden-buttons {
    position: absolute;
    right: 120px;
}

 .categories .cat .hidden-buttons a {
    margin-right: 5px;
 }

 .categories .option a {
    caret-color: #888;
    text-decoration: none;
 }

 .categories .option span{
    caret-color: #888;
    cursor: pointer;
 }

 .categories .option .active {
    color: #f00;
    font-weight: bold;
 }

 .categories .add-category {
    margin-top: 10px;
    margin-bottom: 90px;
 }